baseURL = 'https://sacawa.net'
theme = 'hugo-theme-cleanwhite'
languageCode = 'en'
defaultContentLanguage = "en"
paginate = 20

# "updated on" będzie generowane na podstawie ostatniego zapisu w git
# https://makewithhugo.com/add-a-last-edited-date/
enableGitInfo = true

[languages.en]
title = "sacawa.net - Home Page of Paweł Sacawa"
weight = 1
# contentDir = 'content/en'
contentDir = 'content'
[languages.pl]
title = 'sacawa.net - Strona Domowa Pawła Sacawy'
weight = 2
contentDir = 'content/pl'
[languages.pl.params]
sidebar_about_description = "Backend, programowanie, matematyka. Kolejny haker."

[frontmatter]
# url ma postać /post/vim-tips/, zamiast /post/2018-02-09-vim-tips/
date = [':filename', ':default']

[params]
# header_image = "img/Beach-Renato-Giordanelli.jpg"
main_page_image = "img/Beach-Renato-Giordanelli.jpg"
generic_image = "img/home-bg-jeep.jpg"
SEOTitle = "sacawa.net"
description = "Strona Domowa Pawła Sacawy"
keyword = "Paweł Sacawa, Paul Sacawa"
# slogan = "Just some hacker"
author = "Paweł Sacawa"
# og:image
# thumbnail = "./static/img/..."

# okrojony nav z lupy
search_enabled = false

image_404 = "img/404-bg.jpg"
title_404 = "404 - Nie odnaleziono strony!"
omit_categories = false

# Sidebar settings
sidebar_about_description = "Web backend, systems programming on POSIX platform, math. Just another hacker."
sidebar_avatar = "img/psacawa.jpg"

featured_tags = true # ?
# featured_condition_size = 1

disqus_site = ""

friends = false
# bookmarks = true
about_me = true

[params.social]
rss = true
email = "pawel at this site domain"
# linkedin       = "https://www.linkedin.com/in/yourlinkedinid"
# stackoverflow  = "https://stackoverflow.com/users/yourstackoverflowid"
github = "https://github.com/psacawa"
#keybase       = "full profile url in keybase"

[[params.bookmark_link]]
title = "Martin Fowler"
href = "https://martinfowler.com"
[[params.bookmark_link]]
title = "ServiceMesher"
href = "http://www.servicemesher.com"
[[params.bookmark_link]]
title = "Pxhere"
href = "https://pxhere.com"
[[params.bookmark_link]]
title = "unsplash"
href = "https://unsplash.com"

# [[params.addtional_menus]]
# title =  "ARCHIVE"
# href =  "/archive/"
[[params.addtional_menus]]
title = "PROJECTS"
href = "/projects"
# [[params.addtional_menus]]
# title = "NOTES"
# href = "/notes/"
[[params.addtional_menus]]
title = "ABOUT"
href = "/about"
[[params.addtional_menus]]
title = "SITES"
href = "/sites"

[deployment]
[[deployment.targets]]
name = "s3"
URL = "s3://886185890074-sacawa.net?region=us-east-1"
cloudFrontDistributionID = "E1GPT2RZD6COP"
